[submodule "libs/vorbis"]
	path = libs/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "libs/ogg"]
	path = libs/ogg
	url = https://github.com/xiph/ogg.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy.git
	
