# editor-specific files
\#*
.#*
*~
.*.swp
/CMakeLists.txt.user
/cmake-build-debug

# ELF files
*.o
*.a
*.so

# MSVC files
*.pdb
*.dll
*.lnk


# workflow
*.orig
/TODO.org

# build system
/bin
/Bin
/.bin
/.Bin
/build
/deps
/out

# debugging
callgrind.out.*
perf.data*
.gdb_history

# code search
/.agignore
/.globalrc
/GPATH
/GRTAGS
/GTAGS

# IDEs
.vs
.vscode
.idea

# macOS
.DS_Store
*.ini

# Code Analyzers
/.PVS-Studio
